useDynLib(aum, .registration=TRUE)
export(aum, aum_line_search, aum_line_search_grid, aum_diffs_binary, aum_diffs_penalty, aum_diffs, aum_errors, aum_linear_model_cv)
importFrom(Rcpp, evalCpp)
importFrom("stats", "rnorm")
import(data.table)
S3method("plot", "aum_diffs")
S3method("plot", "aum_line_search")
S3method("plot", "aum_line_search_grid")
S3method("plot", "aum_linear_model")
S3method("plot", "aum_linear_model_cv")
S3method("predict", "aum_linear_model_cv")
